@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mochiy+Pop+One&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#dddbd1,#d2dbdc);
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
}

.text-truncate {
    max-width: 250px;
}

#app {
    height: 100%;
    width: 100%;
}

#background-teal {
    background-color: #029588;
    height: 130px;
    position: fixed;
    z-index: 1;
}

/* ms-container */
.ms-container {
    height: auto;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    top: 20px;
}

/* container row */
.ms-row-container {
    margin: 0;
}

.users-container, .user-chat-container, .container-search-messages {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: 700;
}

/* Intestazione users */
#my-profile, #chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    width: 100%;
    background-color: #eaeaea;
}

.profile {
    display: flex;
    align-items: center;
}

#my-profile .profile > img, .user-profile > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 5px 0 10px;
}

/* icons-profile */
.fa-circle-notch, .fa-comment-alt, .fa-ellipsis-v, .fa-chevron-down, .fa-search, .fa-paperclip {
    color: #b1b1b1;
    cursor: pointer;
}

.profile-actions span, .user-actions span {
    margin-right: 15px;
    font-size: 20px;
}

/* Parte centrale users */
.notifications-container {
    display: flex;
    align-items: center;
    height: 85px;
    width: 100%;
    background-color: #8edafc;
}

.notifications-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.notifications-text span:last-child a {
    color: #4f7485;
    font-size: 16px;
}

.notifications-container span {
    font-weight: 600;
}

.notifications-container span:first-child {
    font-size: 17px;
}

.fa-bell-slash {
    height: 50px;
    width: 50px;
    color: #8edafc;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 20px;
    background: white;
}

.search-chat-container, .search-messages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #fafafa;
}

.ms-input-group, .ms-input-group span > i {
    margin: 0 10px;
}

.ms-input-group-text, .search-chat-container input, .search-messages-container input {
    height: 45px;
    background-color: white;
    border-color: #f1f1f1;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.1rem rgb(142, 218, 252);
}

.ms-form-control::placeholder {
    color: #d8d9da;
    opacity: 1;
}

/* Sezione lista utenti */
.user-list-container {
    height: calc(100vh - 250px);
    width: 100%;
    overflow: auto;
    background-color: white;
}

.user-list-container ul li img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.user-list-container ul li {
    cursor: pointer;
    border-top: 1px solid #f5f5f5;
}

.user-list-container ul li:focus {
    background-color: #e9ebeb;
}

.user-list-container ul li:hover {
    background-color: #f3f3f3;
}

.user-container, .messages-container {
    display: flex;
    padding: 20px;
}

.user-picture, .user-text, .user-date {
    display: flex;
}

.user-picture {
    margin-right: 15px;
}

.user-name-message {
    display: flex;
    flex-direction: column;
}

.user-name-message span:first-child {
    font-size: 20px;
    font-weight: 600;
}

.user-name-message span:last-child {
    color: #b5b9bb;
    font-size: 15px;
}

.user-date {
    flex: auto;
    justify-content: end;
    color: #b5b9bb;
}

/* Intestazione / chat */
#chat-header {
    border-left: 1px solid #d6d6d6;
}

.user-actions, .profile-actions {
    margin-right: 15px;
}

.user-profile {
    display: flex;
}

.user-profile-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-profile-text span:first-child {
    font-weight: 600;
    font-size: 17px;
}

.user-profile-text span:last-child {
    font-size: 14px;
    color: gray;
}

/* Parte centrale / chat */
#chat-main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 185px);
    width: 100%;
    border-left: 1px solid #d6d6d6;
    background-image: url('../img/background-chat.png');
    padding: 50px 0 10px;
    overflow: auto;
    scroll-behavior: smooth;
}

/* Footer / chat */
footer {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #f3eee9;
}

/* icons footer / chat */
.fa-microphone, .fa-smile {
    color: #6a7376;
    font-size: 25px;
    margin: 0 35px;
    cursor: pointer;
}

.ms-input-group-text-footer {
    border: white;
    height: 45px;
}

.user-messages, .my-messages {
    display: flex;
    width: 100%;
    max-width: calc(100% - 200px);
    height: auto;
    margin: 5px 100px;
}

.my-messages {
    justify-content: flex-end;
}

.user-messages {
    justify-content: flex-start;
}

.cont-my-mess, .cont-user-mess {
    min-width: 350px;
    max-width: 70%;
    width: auto;
    border-radius: 10px;
    padding: 15px 10px 5px 20px;
    position: relative;
}

.cont-user-mess {
    background-color: #fff;
}

.cont-my-mess {
    background-color: #d5f9ba;
}

.cont-my-mess span:nth-child(1), .cont-user-mess span:nth-child(1) {
    font-size: 16px;
}

.cont-my-mess span:nth-child(2), .cont-user-mess span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 13px;
    color: #b7bbbc;
}

.messages-layover {
    display: none;
    position: absolute;
    top: 15%;
    right: 15px;
}

.cont-my-mess:hover .messages-layover, .cont-user-mess:hover .messages-layover{
    display: block;
}

.messages-layover:hover .dropdown-menu {
    display: block;
    margin: 0 0 0 -125px;
}

.user-name-message span.writing {
    font-weight: 700;
    color: rgb(43, 161, 43);
}

/* Sezione cerca messaggi */
.container-search-messages {
    height: auto;
}

.cont-text-search-messages {
    display: flex;
    align-items: center;
    min-height: 65px;
    background-color: #eaeaea;
    padding: 0 20px 0 25px;
    font-size: 17px;
}

.cont-text-search-messages span:first-child {
    margin-right: 20px;
    font-size: 22px;
    color: #6a7376;
    cursor: pointer;
}

/* Sezione container messaggi trovati */
.cont-messages-found {
    height: calc(100vh - 165px);
    width: 100%;
    overflow: auto;
    background-color: #fff;
}

.messages-container {
    border-bottom: 1px solid #f5f5f5;
}

.container-search-messages {
    display: none;
}

.container-search-messages.active {
    display: flex;
}

/* Responsive */

@media all and (max-width: 1185px) {

    /* Sezione lista utenti */
    .user-name-message span:first-child {
        font-size: 15px;
    }
    
    .user-name-message span:last-child {
        font-size: 13px;
    }

    .user-date {
        font-size: 12px;
        margin-left: 20px;
    }

    .user-list-container ul li img {
        height: 50px;
        width: 50px;
    }

    /* Sezione cerca utenti */
    .ms-input-group-text, .search-chat-container input, .ms-input-group-text-footer {
        height: 40px;
    }

    /* Sezione notifiche */
    .notifications-container span:first-child {
        font-size: 15px;
    }

    .notifications-text span:last-child a {
        font-size: 12px;
    }

    .fa-bell-slash {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 15px;
    }

    /* Sezione profilo */
    .profile-actions {
        margin-right: 0;
    }

    .profile-actions span, .user-actions span {
        font-size: 15px;
    }

    .profile {
        font-size: 14px;
    }

    /* Sezione profilo utente */
    .user-profile-text span:first-child {
        font-size: 16px;
    }

    .user-profile-text span:last-child {
        font-size: 12px;
    }

    /* Sezione chat */
    .cont-my-mess, .cont-user-mess {
        min-width: 300px;
    }

    .cont-my-mess span:nth-child(1), .cont-user-mess span:nth-child(1) {
        font-size: 14px;
    }

    .cont-my-mess span:nth-child(2), .cont-user-mess span:nth-child(2) {
        font-size: 11px;
    }

    /* Sezione footer */
    .fa-microphone, .fa-smile {
        font-size: 20px;
    }
}